/* ==== GLOBAL VARIABLES ==== */
:root {
  --bg1: #1b1b1b;
  --bg2: #1e222a;
  --fg1: #dfdfdf;
  --fg2: #aaaaaa;
  --accent1: #7ab7ff;
  --accent2: #d2d2d2;

  --fs-huge: 3.33rem;
  --fs-large: 2.53rem;
  --fs-primary: 2.3rem;
  --fs-small: 2.1rem;
  --fs-tiny: 1.8rem;
}

/*@media (prefers-color-scheme: light) {
  :root {
    --bg1: #f1f1f1;
    --bg2: #dbdbdb;
    --fg1: #141414;
    --fg2: #363636;
    --accent1: #0064a7;
    --accent2: #0d1321;
  }
}*/

/* ==== SOME NORMALISATION ==== */
*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "EB Garamond", Georgia, serif;
  font-kerning: normal;
  font-size: 11px;
}

@media (max-width: 500px) {
  html { font-size: 9px; }
}

/* ==== LAYOUT RELATED ==== */
body {
  display: flex;
  flex-direction: column;
  max-width: 1250px;

  margin: 0 auto;
  padding: 0 3.6rem;

  color: var(--fg1);
  background-color: var(--bg1);

  line-height: 1.35;
  font-size: var(--fs-primary);
}

header, main, footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

header {
  flex-direction: row;
  margin-top: 2.4rem;
  margin-bottom: 1.4rem;
  font-size: var(--fs-small);
}

footer { color: var(--fg2); }

/* ==== NAVIGATION BAR ==== */
nav {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  column-gap: 1.5rem;
}

nav a { font-weight: 500; }

/* ==== TYPOGRAPHY ==== */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-style: normal;
  font-weight: bold;
  margin-top: 2.4rem;
  margin-bottom: 1.2rem;
}

h1 {
  font-size: var(--fs-huge);
  font-weight: normal;
}

h2 { font-size: var(--fs-large); }

h3 { font-size: var(--fs-primary); }

p { margin-bottom: 1.3rem; }

a {
  color: var(--accent1);
  text-decoration: none;
}

a:hover {
  color: var(--accent2);
  text-decoration: underline solid currentColor;
  text-underline-offset: 0.2em;
}

a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 1px;
}

/* ==== IMAGE, CAPTION, CODE & RULE ==== */
code {
  font-family: Consolas, 'Courier New', monospace;
  background-color: var(--bg2);
  padding: 0.75rem 0.95rem;
  font-size: var(--fs-tiny);
  border-radius: 3px;
  white-space: nowrap;
}

hr {
  border: none;
  border-top: 2px solid var(--fg2);
  height: 0;
  margin: 0 0 2.4rem 0;
  width: 300px;
}
