/* ==== GLOBAL VARIABLES ==== */
:root {
  --bg-color: #f2f3f4;
  --text-color: #222528;

  --a-color: #0064a7;
  --a-hv-color: #0d1321;

  --nav-bg-color: #0d1321;
  --nav-text-color: #f2f3f4;
  --nav-hv-color: #74c7ff;

  --code-bg-color: #dbdbdb;
}

/* ==== GLOBAL STYLES ==== */
html {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  line-height: 1.5;
  font-size: 18px;
}

body {
  background-color: var(--bg-color);
}

/* ==== TYPOGRAPHY ==== */
h1, h2, h3, h4{
  margin-top: 0;
  margin-bottom: 1rem;
  font-style: normal;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400; /* normal */
}

h4 {
  font-size: 1.05rem;
  font-weight: 500;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

a {
  color: var(--a-color);
  text-decoration: none;
}

a:hover {
  color: var(--a-hv-color);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}

a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

code {
  font-family: Consolas, 'Courier New', monospace;
  background-color: var(--code-bg-color);
  padding: 0.15em 0.3em;
  font-size: 0.95em;
}

/* ==== LAYOUT RELATED ==== */
main {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 1300px;
}

footer {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 0.8rem;
  text-align: center;
}

/* ==== NAVIGATION BAR ==== */
nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1300px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  column-gap: 20px;
}

.navbar-container {
  background-color: var(--nav-bg-color);
  font-size: 0.95rem;
}

.navbar-item {
  display: block;
  color: var(--nav-text-color);
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: color 0.3s ease, fill 0.3s ease;
}

.navbar-item:hover {
  color: var(--nav-hv-color);
  fill: currentColor;
  text-decoration: none;
}

/* ==== DARK THEME ==== */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #070709;
    --text-color: #d5d6d9;
    --a-color: #7ab7ff;
    --a-hv-color: #c7dcff;
    --nav-bg-color: #070709;
    --nav-text-color: #d5d6d9;
    --nav-hv-color: #7ab7ff;
    --code-bg-color: #1e222a;
  }
}
