/* ==== EXTERNAL FONTS ==== */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: light;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* ==== GLOBAL VARIABLES ==== */
:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

/*USAGE:*/
/*  background-color: var(--blue);*/

/* ==== GLOBAL STYLES ==== */
html {
  font-family: 'Roboto', sans-serif;
  color: #222528;
  line-height: 1.5;
  font-size: 14pt;
}

body {
  background-color: #f2f3f4;
}

/* ==== TYPOGRAPHY ==== */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  display: block;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 1.75rem;
  font-weight: normal;
  margin-bottom: 0.2em;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 10px;
  margin-bottom: 0.2em;
}

h4 {
  font-size: 1.05rem;
  font-weight: bold;
  margin-bottom: 0.2em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

a {
  color: #0064a7;
  text-decoration: none;
}

a:hover {
  color: #0d1321;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}

code {
  display: inline-block;
  font-family: Consolas,"courier new";
  color: black;
  background-color: #dbdbdb;
  padding: 0px 6px;
  font-size: 95%;
}

pre {
  font-family: Consolas,"courier new";
  color: black;
  background-color: #dbdbdb;
  padding: 3px 5px;
  font-size: 95%;
}

/* ==== LAYOUT RELATED ==== */
main {
  padding-top: 100px;
  margin: 0 auto;
  max-width: 1300px;
}

footer {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 10pt;
  text-align: center;
}

/* ==== NAVIGATION BAR ==== */
nav {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: #0d1321;
  color: #f2f3f4;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 13pt;
}

.navbar-box {
  order: 1;
  min-width: 100%;
  min-height: 52px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.navbar-toggle {
  height: 35px;
  fill: currentColor;
  cursor: pointer;
  order:9;
}

.navbar-entries {
  order: 2;
  min-width: 100%;
  height: 0vh;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 0;
  transition-property: height, padding, display;
  transition-duration: 399ms;
  transition-timing-function: ease;
  overflow: hidden;
}

.navbar-item {
  display: none;
  color: #f2f3f4;
  text-decoration: none;
  padding-bottom: 12px;
}

.navbar-toggle:hover, .navbar-item:hover {
  color: #0064a7;
  fill: currentColor;
  text-decoration: none;
  transition: color 0.3s ease, fill 0.3s ease;
}

/* This is a JS helper class, the normal collapsing functionality occurs in CSS using min-width triggers. */
.navbar-toggle-hide {display: none;}
.navbar-uncollapse {height: 100vh; padding-top: 20px;}
.navbar-unhide {display: block;}

@media screen and (min-width: 660px) {
  nav { flex-flow: row; }
  .navbar-box { min-width: 0%; }
  .navbar-toggle { display: none; }
  .navbar-entries {
    min-width: 0%;
    height: auto;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-top: 0;
    display: flex;
  }
  .navbar-item {
    padding-bottom: 0;
    padding-left: 18px;
    display: block;
  }
}
