/* ==== HOMEPAGE SPECIFIC ==== */
.intro-box {
  flex-direction: column;
}

.intro-side a {
  text-decoration: none;
}

.intro-side img {
  display: block;
  width: 350px;
  max-width: 90vw;
  margin: 0 auto;
  transition: width 400ms ease;
  padding-bottom: 20px;
}

.intro-side span {
  text-align: center;
  display: block;
  margin-bottom: 1em;
}

.intro-side svg {
  fill: currentColor;
  width: 30px;
}

@media screen and (min-width: 800px) {
  .intro-box {
    flex-direction: row-reverse;
  }

  .intro-side {
    flex: 0 0 280px;
    padding-left: 40px;
  }

  .intro-side img {
    width: 100%;
  }
}

@media screen and (min-width: 1100px) {
  .intro-side {
    flex: 0 0 400px;
    padding-left: 30px;
  }
}
