/* ==== SPECIFIC STYLESHEET FOR INDEX.HTML ==== */
.secondary { text-align: center; }
.secondary a { text-decoration: none; }
.secondary p { font-size: var(--fs-small); }

.secondary img {
  display: block;
  width: 290px;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.secondary svg {
  fill: currentColor;
  width: 30px;
  margin-right: 3px;
  margin-top: 1rem;
}

@media screen and (min-width: 820px) {
  main { flex-direction: row-reverse; }
  .primary { padding-right: 3rem; }
  .secondary img { width: 270px; }
}